.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title{
    padding-left: 5%;
}

.header-btn{
    max-width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-btn a{
    background-color: #EEEEEE;
    color: blue;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

.display-cls{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    
}

.cls-clm{
    margin-top: 30px;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    align-content: center;  
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(135, 117, 117);
    padding-bottom: 0.5rem;
    text-align: center;

}

#cls-main{
    font-weight: bolder;
    border-bottom: 3px solid rgb(24, 21, 21);
}

*{
    font-family: 'Open Sans', sans-serif;
}

.cls-add{
    display: none;
    position: absolute;
    left:400px;
    background-color: rgba(145, 160, 228, 0.8);
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
}


.temp{
    margin-top: 30px;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    align-content: center;
    justify-content: space-around;
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(135, 117, 117);
    padding-bottom: 0.5rem;
    text-align: center;
}


.cls-edit{
    display: none;
    position: absolute;
    left:400px;
    background-color: rgba(145, 160, 228, 0.8);
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
}

